            body {
                background-color: #33312D;
                margin: 20px;
            }
            .portoverlay {
                position:absolute;
                top: 30px;
                left: 170px;
            }
            #picofme {
                position: relative;
                top: -20px;
                left: 200px;
            }
            .nameandtitlecontainer {
                background-color: #F5C668;
                border-radius: 30px;
                padding: 2px 16px;
                width: 450px;
                height: 150;
                text-align: center;
                position: absolute;
                top: 430px;
                left: 150px;
            }
            #phoneicon{
                position: relative;
                left: 900px;
                top: -400px;
            }
            #mobilenumber{
                position: relative;
                left: 860px;
                top: -400px;
            }
            #emailicon {
                position: relative;
                left: 895px;
                top: -400px;
            }
            #emailcontact {
                position: relative;
                left: 810px;
                top: -400px;
            }
            .aboutmecontainer {
                background-color: #F5C668;
                border-radius: 30px;
                padding: 5px 20px;
                width: 400px;
                height: 150;
                text-align: center;
                position: absolute;
                top: 345px;
                left: 720px;
            }
            #looperimage {
                position:relative;
                top: 0px;
                left: 250px;
            }
            #aphislink {
                position: relative;
                top: -675px;
                left: 150px;
            }
            #aphisdisc {
                width: 300px;
                position:relative;
                top: -1000px;
                left: 800px;
            }
            #sunelement {
                position: relative;
                top: -675px;
                left: 250px;
            }
            #cccalink {
                position: relative;
                top: -1375px;
                left: 150px;
            }
            #cccadisc {
                width: 300px;
                position:relative;
                top: -1700px;
                left: 800px;
            }
            #strippedBar {
                position: relative;
                top: -1220px;
                left: 135px;
            }
            #skillsheader {
                position: relative;
                top: -1500px;
                left: 615px;
            }
            .skillcards {
                background-color: #81B99E;
                border-radius: 30px;
                padding: 5px 20px;
                width: 200px;
                height: 150;
                display: inline-flex;
                align-items: baseline;
                flex-direction: column;
            }
            #skillcard1 {
                position:relative;
                height: 250px;
                left: 175px;
                top: -1490px;
            }
            #skillcard2 {
                position:relative;
                left: 275px;
                top: -1490px;
            }
            #skillcard3 {
                position:relative;
                height: 250px;
                left: 375px;
                top: -1490px;
            }
            .centertitle {
                text-align: center;
            }
            #returnbutton {
                position:relative;
                left: 570px;
                top: -1480px;
            }
            #aphisDgif{
                position:relative;
                top: -425px;
                left: 200px;
            }
            #aphisMgif {
                position: relative;
                top: -650px;
                left: 500px;
            }
            #cccaDgif{
                position:relative;
                top: -1125px;
                left: 200px;
            }
            #cccaMgif {
                position: relative;
                top: -1350px;
                left: 500px;
            }
